####################################################
##   SAGA FILE CONFIGURATION                      ##
####################################################

# Minimum Depth of coverage (DP) at the sample level required for a minimum of number of sample
-dp 12 # Default value=10

# Minimum percentage of samples required for the previous defined DP     
-p 97 #Default value=95

# Minor allele frequency cut-off
-maf 0.05 #Default value=0.05

#P-value
-pvalue 5E-2 #5E-4 #Default value=5E-2

# Annotation window:Upstream and Downstream max positions (pb)
-maxwin 5000 #Default value=3000 pb 

# Annotation window:Upstream and Downstream min positions (pb)
-minwin 5000 #Default value=1000 pb

#GAPIT Method
-GAPIT COV #COV #Options are COV,SUPER default option DEF

#Only for GAPIT COV
-cov_file /data2/projects/gbsflowering/RICE/GAPIT.PCA.txt  #path

#Only available for GAPIT SUPER
-SUPER_Option FaST #options are GLM,MLM,CMLM, FaST and SUPER default MLM
